.container {
  max-width: 1112px;
  margin: auto;
}

.navigationBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: rgb(255, 255, 255);
  gap: 40px;
  ul {
    list-style: none;
    display: flex;
    padding: 28px 32px;
    margin: 0;
    gap: 40px;
    flex: 1;

    li {
      padding: 32px 0;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.headerButtonsContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contain {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 4px 24px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-family: Inter;
  font-size: 14px;
  font-weight: 550;
  background-color: rgb(247, 249, 252);
  transition: all 120ms ease 0s;
  color: rgb(14, 11, 61);

  a {
    text-decoration: none;
    background-color: transparent;
  }
}

.middlebox {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  gap: 12px;
}
.middleboxp {
  box-sizing: border-box;
}

.h4 {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin: 0px;
  font-weight: 1000;
  font-family: Faktum, -apple-system, BlinkMacSystemFont, Inter;
  word-break: normal;
  text-decoration: none;
  text-transform: uppercase;
  white-space: normal;
  cursor: inherit;
  appearance: none;
}

.colorh4 {
  color: rgb(20, 99, 255);
  font-weight: 1000;
}

.boxmain {
  position: relative;
}

.insideh1box {
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.04em;
  margin: 0px;
  font-weight: 400;
  font-family: Faktum, -apple-system, BlinkMacSystemFont, Inter;
  text-align: center;
  word-break: normal;
  text-decoration: none;
  text-transform: none;
  white-space: normal;
  cursor: inherit;
  appearance: none;
  color: rgb(14, 11, 61);
}

.middlebox1 {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 8px;
}
.middlebox2 {
  box-sizing: border-box;
}

.pcontainer {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.01em;
  margin: 8px 0px 0px;
  font-weight: 900;
  font-family: Inter, Helvetica, Arial, sans-serif;
  text-align: center;
  word-break: normal;
  text-decoration: none;
  text-transform: none;
  white-space: pre-line;
  cursor: inherit;
  appearance: none;
  color: rgb(14, 11, 61);

  p {
    margin: 0px;
    font-feature-settings: 'ss01' on, 'ss03' on, 'cv10' on, 'cv09' on, 'cv07' on,
      'cv06' on, 'cv05' on, 'cv04' on, 'cv03' on, 'cv01' on, 'cv02' on,
      'ss08' on, 'ss09' on, 'ss10' on;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}
.secondbox {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  margin-top: 56px;
  margin-left: 100px;
  gap: 40px;
}

.insidesecondbox {
  box-sizing: border-box;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid rgb(236, 239, 249);

  a {
    text-decoration: none;
    background-color: transparent;
  }

  div {
    display: block;
    color: -webkit-link;
    cursor: pointer;
  }
}

.div1 {
  padding: 12px 8px 0px;

  div {
    display: block;
  }
}

.insidep2 {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: -0.01em;
  margin: 0px;
  font-weight: 500;
  font-family: Inter, Helvetica, Arial, sans-serif;
  word-break: normal;
  text-decoration: none;
  text-transform: none;
  white-space: normal;
  cursor: inherit;
  appearance: none;

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}
